<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.shu.xj.ser.mapper.StoreMapper" >
  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="cn.edu.shu.xj.ser.entity.Store">
    <id  column="store_id" property="storeId"/>
    <result column="store_name" property="storeName"/>
    <result column="store_passwd" property="storePasswd"/>
    <result column="store_address" property="storeAddress"/>
    <result column="store_phone" property="storePhone"/>
    <result column="delivery_begin" property="deliveryBegin"/>
    <result column="delivery_end" property="deliveryEnd"/>
  </resultMap>
</mapper>