<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.shu.xj.ser.mapper.UserMapper" >
    <!-- 通用查询映射结果 -->
    <resultMap id="UserResultMap" type="cn.edu.shu.xj.ser.entity.User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="user_address_id" property="userAddressId"/>
        <result column="user_main_address" property="userMainAddress"/>
        <result column="user_sex" property="userSex"/>

    </resultMap>
</mapper>